@font-face {
    font-family: 'crucifixionregular';
    src: url('fonts/CrucifixionRegular-xKd8.ttf');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
header{
    font-family: 'crucifixionregular';
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
    font-size: 32px;
    height: 22vh;
}

.elements-container{
    display: flex;
    justify-content: center;
    align-items: 13% ;
    height: 78vh;
}
.element{
    margin: 15px;
    width: 200px;
    height: 200px;

}
.element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid rgb(255, 0, 0);
}
#counter{
    width: 100%;
    color: #ff0000;
}
#bottom-text{
    width: 100%;
    color: #ff0000;
}